:root {
  --font: "Alegreya Sans", sans-serif;;
  --color-white: #f7f3f0;
  --color-black: #000000;
  --color-green: #253334;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font);
  color: var(--color-white);
  background-color: var(--color-green);
  font-size: 15px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
