:root {
  --font: 'Alegreya Sans', sans-serif;
  --color-white: #f7f3f0;
  --color-black: #000000;
  --color-green: #253334;
  --color-light-green: #7c9a92;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

body {
  color: var(--color-white);
  background-color: var(--color-green);
  font-size: 15px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
